<html>

<head>
    <script src='https://unpkg.com/xrpl@2.1.0-beta.1'></script>
    <script>
        if (typeof module !== "undefined") var xrpl = require('xrpl')

        async function mintToken() {

            const wallet = xrpl.Wallet.fromSeed(secret.value)
            const client = new xrpl.Client("wss://xls20-sandbox.rippletest.net:51233")
            await client.connect()
            console.log("Connected to Sandbox")

            let transferrable_flag = flags.checked ? 8 : 1;
            if (transferrable_flag == 8) {
                console.log("Transferrable flag is checked")

                const transactionBlob = {
                    TransactionType: "NFTokenMint",
                    Account: wallet.classicAddress,
                    URI: xrpl.convertStringToHex(tokenUrl.value),
                    Flags: transferrable_flag, // 1 or 8
                    TokenTaxon: 0,
                    TransferFee: (parseFloat(transferFee.value) * 1000), // only valid if flags = 8
                    Memos: [{
                        MemoType: xrpl.convertStringToHex("unlockdate"),
                        MemoData: xrpl.convertStringToHex(date.value)
                    }, {
                        MemoType: xrpl.convertStringToHex("unlocktime"),
                        MemoData: xrpl.convertStringToHex(time.value)
                    }]
                }

                const tx = await client.submitAndWait(transactionBlob, {
                    wallet
                })

                const nfts = await client.request({
                    method: "account_nfts",
                    account: wallet.classicAddress
                })
                console.log(nfts)
                console.log("Transaction result:", tx.result.meta.TransactionResult)
                console.log("Balance changes:",
                    JSON.stringify(xrpl.getBalanceChanges(tx.result.meta), null, 2))
                client.disconnect()

            } else {
                console.log("Transferrable flag is unchecked")
                const transactionBlob = {
                    TransactionType: "NFTokenMint",
                    Account: wallet.classicAddress,
                    URI: xrpl.convertStringToHex(tokenUrl.value),
                    Flags: transferrable_flag,
                    TokenTaxon: 0,
                    Memos: [{
                        MemoType: xrpl.convertStringToHex("unlockdate"),
                        MemoData: xrpl.convertStringToHex(date.value)
                    }, {
                        MemoType: xrpl.convertStringToHex("unlocktime"),
                        MemoData: xrpl.convertStringToHex(time.value)
                    }]
                }
                const tx = await client.submitAndWait(transactionBlob, {
                    wallet
                })

                const nfts = await client.request({
                    method: "account_nfts",
                    account: wallet.classicAddress
                })
                console.log(nfts)
                console.log("Transaction result:", tx.result.meta.TransactionResult)
                console.log("Balance changes:",
                    JSON.stringify(xrpl.getBalanceChanges(tx.result.meta), null, 2))
                client.disconnect()
            }
        }
    </script>

    <title>xCapeTime</title>
</head>

<body>
    <h1>xCapeTime</h1>
    <form id="theForm">
        <table>
            <tr>
                <td align="right">Account</td>
                <td><input type="text" id="account" value="" size="40" /></td>
            </tr>
            <tr>
                <td align="right">Secret</td>
                <td><input type="text" id="secret" value="" size="40" /></td>
            </tr>
            <tr>
                <td align="right">Token URL</td>
                <td><input type="text" id="tokenUrl" value="{{xcape_link}}" size="80" />
                </td>
            </tr>
            <!-- Make a checkbox, indicating the value of flags -->
            <tr>
                <td align="right">Transferable</td>
                <td><input type="checkbox" id="flags" /></td>
            </tr>
            <br>
            <tr>
                <td align="right" id="labelfee">Transfer Commission</td>
                <td><input type="number" id="transferFee" min="0" max="50" value="0" size="10" /></td>
            </tr>
            <tr>
                <td align="right">Date to unlock contents</td>
                <td><input type="date" id="date" /></td>
            </tr>
            <tr>
                <td align="right">Time to unlock contents</td>
                <td><input type="time" id="time" /></td>
            </tr>
        </table>
        <p>
            <button id='mint' type="button" onClick="mintToken()">Mint Token</button disabled>&nbsp;&nbsp;
        </p>
    </form>
    <script>
        document.getElementById("transferFee").style.display = "none";
        document.getElementById("labelfee").style.display = "none";
        document.getElementById("mint").disabled = true;

        // When checkbox flags is checked, make the transferFee visible
        document.getElementById("flags").addEventListener("change", function() {
            if (this.checked) {
                document.getElementById("transferFee").style.display = "block";
                document.getElementById("labelfee").style.display = "block";
            } else {
                document.getElementById("transferFee").style.display = "none";
                document.getElementById("labelfee").style.display = "none";
            }
        });

        // Once date is selected, make sure the data is not in the past
        document.getElementById("date").addEventListener("change", function() {
            var today = new Date();
            var date = new Date(this.value);
            if (date < today) {
                alert("Date must be in the future!");
                this.value = "";
            }
        });

        // Check if inputs are good
        document.getElementById("time").addEventListener("change", function() {
            if (document.getElementById("account").value != "" && document.getElementById("secret").value != "" && document.getElementById("tokenUrl").value != "" && document.getElementById("date").value != "" && document.getElementById("time").value != "") {
                document.getElementById("mint").disabled = false;
            } else {
                document.getElementById("mint").disabled = true;
            }
        });
    </script>
</body>

</html>